<div class="border rounded-xl shadow w-full p-4">
    <h1 class="text-center text-2xl font-bold"> <%= pluralize(@articles.count, "Result") %> </h1>

    <% @articles.each do |article| %>
        <div class="border rounded-xl shadow p-4 m-4">
            <h2><%= article.title %></h2>
            <p><%= article.content %></p>
        </div>
    <% end %>
</div>