<div class="container mx-auto py-8">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold mb-4 text-slate-600">Popular Searches</h1>
    <%= link_to "Back", root_path, class: "rounded-full bg-slate-400 text-white text-sm px-4 py-2 m-4 hover:bg-slate-500 transition" %>
  </div>
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b border-gray-200 bg-gray-100">Search Term</th>
        <th class="py-2 px-4 border-b border-gray-200 bg-gray-100">Count</th>
      </tr>
    </thead>
    <tbody>
      <% @searches.each do |query, count| %>
        <tr>
          <td class="py-2 px-4 border-b border-gray-200"><%= query %></td>
          <td class="py-2 px-4 border-b border-gray-200"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
