<div class="flex justify-between items-center mx-auto px-10 py-6 bg-slate-300 w-full">
    <%= link_to "HelpJuice Searcher", root_path, class:"font-bold text-xl md:text-2xl text-slate-700"%>
    <div data-controller="search">
        <%= render "search/form" %>
    </div>
</div>