<div class="flex justify-between mx-auto px-10 py-6 bg-slate-300">
    <%= link_to "HelpJuic Searcher", root_path, class:"font-bold text-2xl text-slate-700"%>
    <div data-controller="search">
        <%= render "search/form" %>
    </div>
</div>